li {
    list-style: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2C2A;
    height: 100px;
    width: 100%;
}

header h1 {
    color: white;
}

header ul {
    display: flex;
    margin: 35px 0;
}

header ul li {
    margin: 0 20px;
}

header ul li a {
    color: white;
}

#Hero .mainimg {
    max-width: 1440px;
    max-height: 812px;
    margin: 0 auto;
}

#Hero img {
    width: 100%;
    height: 65vh;
}

#News {
    max-width: 1440px;
    margin: 80px auto 40px;
}

#News h2 {
    text-align: center;
}

#News .News-content {
    justify-content: space-between;
    max-width: 80%;
    margin: 80px auto;
}

#News img {
    width: 158px;
    height: 100px;
}

#News h3 {
    text-align: center;
}

  