body {
    background-color:  #eeeded;
    margin: 0 auto;
    box-sizing: border-box;
    width: fit-content;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: serif;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2C2A;
    height: 90px;
    width: 100%;
}

header nav {
    margin: 0;
}

header h1 {
    color: white;
    font-family: 'Emblema One', cursive;
    font-size: 28px;
    letter-spacing: 1px;
}

header ul {
    display: flex;
    margin: 35px 0;
    padding-left: 260px;
}

header ul li {
    width: fit-content;
    margin: 0 18px;
    padding-top: 7px;
}

header ul li a {
    color: white;
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
}

#hero h1 {
    font-family: 'Emblema One', cursive;
    letter-spacing: 4px;
    font-size: 60px;
}

.image-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
  }
  
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 2;
  }
  
  .tagline {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    margin: 0.5rem 0;
  }
  
  .established {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
  }

  #News {
    text-align: center;
    padding: 60px 20px;
    max-width: 1440px;
    background-color: #eeeded;
    margin: 0 auto;
  }

#News h2 {
    font-size: 32px;
    color: #542;
    font-family: serif;
    position: relative;
    text-align: center;
  }
  
#News h2::before,
#News h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 39%;
    border-top: 2px solid #542;
  }

#News h2::before {
    left: 0;
    margin-left: 50px;
  }
    
#News h2::after {
    right: 0;
    margin-right: 50px;
  }
    
#News h2 .subtitle {
    display: block;
    font-size: 20px;
    margin-top: -10px;
  }

#News .News-content {
    margin: 80px auto 120px;
    width: fit-content;
}

#News img {
    width: 158px;
    height: 100px;
    margin-right: 60px;
}

#News .News-list {
    padding: 0;
    width: fit-content;
}

#News li {
    margin: 40px auto;
    height: 100px;
    border-bottom: #3F2D01 1px solid;
}

#News li a {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    height: 100px;
    color: #3F2D01;
}

#News li p {
    width: 480px;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center; 
    letter-spacing: 2px;
}

#News li span {
    margin-left: 20px;
    letter-spacing: px;
}

#News h3 {
    text-align: center;
    color: white;
}

#News .btn {
    background-color: #3F2D01;
    width: fit-content;
    margin: 0 auto ;
    padding: 1px 80px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

#News .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#concept {
    text-align: center;
    padding: 60px 20px;
    max-width: 1440px;
    color: #542;
    margin: 0 auto;
  }

#concept h2 {
    font-size: 32px;
    font-family: serif;
    position: relative;
    text-align: center;
  }
  
#concept h2::before,
#concept h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 39%;
    border-top: 2px solid #542;
  }

#concept h2::before {
    left: 0;
    margin-left: 50px;
  }
    
#concept h2::after {
    right: 0;
    margin-right: 50px;
  }
    
#concept h2 .subtitle {
    display: block;
    font-size: 20px;
    margin-top: -10px;
  }

#concept img {
    width: 360px;
    height: 380px;
    filter: brightness(105%);
    object-fit: cover;
}

#concept .image-frame {
    position: relative;
    display: inline-block;
    padding: 16px;
    background-color: white;
    transform: rotate(-2deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#concept .concept-text  {
    text-align: center;
}

#concept .concept-text p {
    margin: 30px 0;
    letter-spacing: 1.5px;
    font-size: 18px;
    text-align: center;
}

#concept .concept-wrapper {
    display: flex;
    flex-direction: column;
}

#concept .concept-content {
    display: flex;
    max-width: 860px;
    margin: 80px auto;
}

#concept .concept-content:nth-child(2) {
    flex-direction: row-reverse;
}

#concept .concept-content1, #concept .concept-content2, #concept .concept-content3 {
    padding: 40px 50px;
    background-color: #ffffff;
    height: fit-content;
    margin: auto 0;
}

#concept h3 {
    font-size: 48px;
    font-weight: lighter;
    margin: 80px auto;
    width: fit-content;
}

#concept h4 {
    padding: 10px 0;
    font-size: 20px;
    margin: 0 0 20px 0;
    background-color: #3f2d016e;
    color: #fff;
    text-align: center;
}

#concept p {
    font-family: serif;
    margin: 0;
    padding: 5px 18px;
    letter-spacing: 1.5px;
    text-align: left;
}

#menu {
    text-align: center;
    padding: 60px 20px;
    max-width: 1440px;
    color: #542;
    margin: 0 auto;
}

#menu p {
   text-align: center;
   max-width: 1100px;
   margin: 30px auto;
   line-height: 1rem;
   font-size: 18px;
   letter-spacing: 1.5px;
   width: fit-content;
}


#menu h2 {
    font-size: 32px;
    font-family: serif;
    position: relative;
    text-align: center;
    margin-bottom: 80px;
  }
  
#menu h2::before,
#menu h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 39%;
    border-top: 2px solid #542;
  }

#menu h2::before {
    left: 0;
    margin-left: 50px;
  }
    
#menu h2::after {
    right: 0;
    margin-right: 50px;
  }
    
#menu h2 .subtitle {
    display: block;
    font-size: 20px;
    margin-top: -10px;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: 80px auto 0;
    font-family: serif;
  }
  
.grid-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

.grid-item:hover {
    cursor: pointer;
}
  
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

.grid-item:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
  }
  
.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    margin: 10px;
  }
  
.category-name {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .category-name {
        font-size: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .category-name {
        font-size: 100px;
    }
  }

  #stories {
    text-align: center;
    padding: 60px 20px;
    max-width: 1440px;
    color: #542;
    margin: 0 auto;
  }

  .story-cotainer {
    display: flex;
  }

#stories h2 {
    font-size: 32px;
    color: #542;
    font-family: serif;
    position: relative;
    text-align: center;
    margin-bottom: 80px;
  }
  
#stories h2::before,
#stories h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 39%;
    border-top: 2px solid #542;
  }

#stories h2::before {
    left: 0;
    margin-left: 50px;
  }
    
#stories h2::after {
    right: 0;
    margin-right: 50px;
  }
    
#stories h2 .subtitle {
    display: block;
    font-size: 20px;
    margin-top: -10px;
  }

.stories-wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

#stories .stories-text p {
    max-width: 1100px;
    width: fit-content;
    text-align: center;
    margin: 30px auto;
    letter-spacing: 1.5px;
    font-size: 18px;
  }

.slider {
    display: flex;
    justify-self: center;
    gap: 20px;
    overflow: hidden;
    padding: 20px 0;
    scroll-behavior: smooth;
    margin-top: 60px;
    width: 87.5%;
  }

.story-card {
    max-width: 200px;
    width: min-content;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0px 5px;
  }

.story-card:hover {
    cursor: pointer;
  }

.story-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

.story-content {
    padding: 15px;
    text-align: left;
  }

.story-title {
    font-size: 17px;
    font-weight: bolder;
    font-family: serif;
    margin-bottom: 10px;
  }

.story-date {
    color: #777;
    font-size: 12px;
    text-align: end;
  }

.slider::-webkit-scrollbar {
    display: none;
  }

#access {
    text-align: center;
    padding: 60px 20px;
    max-width: 1440px;
    color:#542;
    font-family: serif;
    margin: 0 auto;
  }
  
#access h2 {
    font-size: 32px;
    font-family: serif;
    position: relative;
    text-align: center;
  }
  
#access h2::before,
#access h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 39%;
    border-top: 2px solid #542;
  }
  
#access h2::before {
    left: 0;
    margin-left: 50px;
  }
  
#access h2::after {
    right: 0;
    margin-right: 50px;
  }
  
#access h2 .subtitle {
    display: block;
    font-size: 20px;
    margin-top: -10px;
  }
  
#access .access-content {
    display: flex;
    justify-self: center;
    margin-top: 80px;
    font-family: serif;
    font-weight: bolder;
    color:#542;
  }
  
#access ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 100px;
    font-family: serif;
  }
  
#access ul li {
    font-size: 18px;
    color: #542;
    margin-bottom: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    letter-spacing: 2px; 
  }
  
footer {
    background-color: #3F2D01;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    height: 370px;
    position: relative;
  }

footer h1 {
    font-family: 'Emblema One', cursive;
    font-size: 48px;
    letter-spacing: 1px;
}
  
footer p {
    margin: 0;
    font-size: 14px;
  }

.footer-end {
    height: 90px;
    width: 100%;
    background-color: #2D2C2A;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-end p {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
.social-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
  }
  
.social-links a {
    margin: 0 10px;
    display: inline-block;
  }
  
.social-links img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
  
.social-links img:hover {
    transform: scale(1.2);
  }

.social-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
footer .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
footer .nav a:hover {
    text-decoration: underline;
    color: #ffffff;
  }

.slick-prev {
    position: absolute;
    left: 10px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    right: 10px;
    z-index: 1;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
 
